*{padding:0px; margin:0px;box-sizing: border-box;}

html{font-size:15px; }

body{
    font-family: 'Inter', sans-serif;
    padding: 3.5rem 4rem;
    width:100vw;
    overflow-x:hidden;
}

body a {
    text-decoration:none;
}

.heading1 {
    color: #000000;
    font-weight:800;
    font-size:3rem;
}
.heading2{
    font-size:2rem;
    font-weight:700;
}
.heading3{
    font-size:1.3rem;
    font-weight:700;
}
.text {
    font-size:1rem;
    font-weight:400;
    color:hsl(236, 13%, 42%);
}


.header {
    display: flex;
    justify-content:space-between;  /*pas gue iniin, dia tetap berada disamping */
     align-items: center;
     position: relative;
     align-items:center;
     
}
    .logo{
        top: 0;
        left: 0;
    }
    .navigation-bar ul{
        margin-left: auto;
        display: flex;
        flex-direction:row;
        list-style: none;
    }

    .navbar {
        margin-left:1.7rem;
    }
    .navigation-bar a:hover {
        color:hsl(5, 85%, 63%);
    }

    .hamburger-menu{
        display:none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        height: 20px;
        cursor: pointer;
        
      }
        .hamburger input {
        display:none;
        }
        .hamburger span {
            background-color:black;
            display:block;
            width: 100%;
            width:28px;
            height:2px;
            padding-top:2px;transition : all 0.5s;
        }
        
        .hamburger span:nth-child(2){
            transform-origin:0 0;
        }
  
        .hamburger span:nth-child(4){
            transform-origin:0 0;
        }
        
        .hamburger input:checked ~ span:nth-child(2){
            transform : rotate(45deg) translate(0px, -2px);
        }
        .hamburger input:checked ~ span:nth-child(4){
            transform : rotate(-45deg);
        }
        .hamburger input:checked ~ span:nth-child(3){
            transform:scale(0);
        }
            
.content {
    max-width:100%;
    box-sizing: border-box;
    padding-top:3.5rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(1250x, max-content));
    grid-template-rows: repeat(auto-fit, minmax(250px, max-content));
    row-gap:4rem;
    column-gap:1rem;
}
    .image-web{
        height:auto;
        grid-row:1;
        grid-column:1/span 2;
        background-size:cover;
        padding-right:3rem;
    }
        .image-web img{
            max-width:100%;
            width:100%;
            object-fit:cover;
            
        }
    .heading1{
        grid-row:2;
        grid-column:1;
        padding-right:2.5rem;
    }
    .section1 {
        grid-row:2;
        grid-column:2;
        padding-right:3rem;
    }
        .text-section1{
            margin-bottom: 3.5rem;
        }
        .button{
            display:flex;
            /* flex-warp:warp; */
        }
        .button a{
            background-color:hsl(5, 85%, 63%);
            color: hsl(36, 100%, 99%);
            padding: 1rem 2rem;
            cursor:pointer;
        }
        .button a:hover{
            background-color:hsl(240, 100%, 5%);
					transition:0.3s all;
        }
    .section2 {
        grid-row:1/span 2;
        grid-column:3;
        background-color: hsl(240, 100%, 5%);
        display:flex;
        flex-direction:column;
        max-width:100%;
        padding:2rem 2rem;
        position:relative;
        box-sizing: border-box;
    }
        .section2 .heading2 {
            color:hsl(35, 77%, 62%);
            padding-bottom:2rem;
        }
        .section2 .heading3{
            color:hsl(36, 100%, 99%);
            padding-bottom:1rem;
        }
        .section2 .heading3:hover{
            color:hsl(35, 77%, 62%);
        }
        hr{
            border-color:hsl(236, 13%, 42%);
            margin:2rem 0px;
        }
    .recomended-section{
        grid-column:1/ span 3;
        grid-row:3;
        display:flex;
        padding-top:3rem;
    }
        .recomendation-section{
           display:flex; 
           margin-right:5rem;
        }
        .text-section {
            padding-left:1.3rem;
        }
        .text-section .heading2{
            color:hsl(233, 8%, 79%);
        }
        .text-section .heading3{
            color:black;
            padding-top:1.3rem;
        }
            .text-section .heading3:hover{
                color:hsl(5, 85%, 63%);
            }
        .text-section .text {
            padding-top:1.3rem;
            color:Dark grayish blue: hsl(236, 13%, 42%);
        }
        .recomendation-section img {
            width:30%;
            object-fit:cover;
            height:auto;
        }

    .attribution {
        padding-top:4rem;
    }

/* Tablet */
@media screen and (max-width:768px){
body{
    padding: 2rem 2rem;
    overflow-x:hidden;
}    
    .header{
        width:100%;
        display:flex'
    }
    .navigation-bar ul{
        display:flex;
        justify-content:center;
        flex-direction:column;
        position: absolute;
        margin-left:auto;
        align-items: flex-start;
        align-content:center;

        top: 0;
        right: 0;
        width:40%;
        height: 100vh;
        
        padding-top:; /* adjust this value as needed */
        background-color:white;
        overflow-y: auto;
        visibility: hidden;

        transition: 0.3s ease ;
        z-index:0;
        transform: translateX(100%);
				opacity:1;
    }

        .navigation-bar ul.show{
					opacity:1;
					        visibility: visible;
            transform: translateX(0%);
            transition: 0.3s ease 300ms;
        }    
				.navigation-bar a, .navigation-bar li {
					padding-top:2rem;
					font-weight :400;
					color:black;
				}
    .hamburger-menu {
        display:flex;
        align-vertical:center;
    }
        .hamburger-menu input{
            display:none;
        }

.content {
    display: flex;
    flex-direction:column;
    row-gap:1.5rem;
}
    .heading1{
        margin-top:2rem;
    }
    .text-secion1{
        margin-top:1.5rem;
    }
    .image-web {
        display:flex; 
        background-color:red;
        height:50vh;
        width:fit-content;
        padding:0;margin:0;
    }
        .image-web img{
            width:100%;
            height:100%;
            object-fit:cover;
            padding:0;margin:0;
        }
    .section2{
        margin-top:4rem;
    }
    .recomended-section{
        display: flex;
        flex-direction:column;
        /* margin-top:1rem; */
    }
        .recomendation-section{
            margin-top:2rem;
        }
        .recomendation-section img{
            /* width:50%; */
            
        }

}

